.file-input{
  display: none;

}

table {
  border-collapse: collapse;
  width: 100%;
  overflow: hidden;

}

tr {
  border-bottom: 1px solid darkgrey;

}
th {
  color: black;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1rem;
  padding-bottom: 5px;
  text-align: center;
}
td{
  font-size: 1.2rem;
  padding: 12px;
  text-align: center;

}
