
.mat-form-field {
  font-size: 14px;
  width: 60%;
  height:25px;
  margin-left: auto;
  margin-right: auto;
  border: none;
}

.custom-pagination {
  /* float: right; */
  text-align: center;
}

.custom-pagination .page-number {
  display: inline-block;
  /* padding: 5px 12px; */
  margin: 4px 4px;
  border-radius: 50%;
  /* padding-right: 1px; */
  padding-top: 4px;
}

.page-number.current {
  background: #673ab7!important;
  color: white;
  /* border: 2px solid #458873; */
}

table {
  border-collapse: collapse;
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
  margin-top: 10px;
}

tr {
  border-bottom: 1px solid darkgrey;

}
th {
  color: black;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1rem;
  padding-bottom: 5px;
  text-align: center;
}
td{
  font-size: 1.2rem;
  padding: 5px;
  text-align: center;
}

.page-number span {
  display: block;
  width: 28px;
  height: 28px;
  font-size: 15px;
  cursor: pointer;
}

.pagination-previous,
.pagination-next {
  display: inline-block;
  font-weight: bold;
}

.pag .current {
  background: #673ab7;
}
